<footer class="footer">
    <div class="container">
        <h4 class="footer_title title title--sm">discount coupon</h4>
        <p class="footer_subtitle">Enter your email address for a 20% off voucher next time you come visit us.</p>
            <form class="footer_form d-flex flex-wrap" method="POST" name="subscribeForm">
                <input class="footer_form-field required col-12 col-sm-auto" data-type="email" type="text" name="subscribeEmail" id="subscribeEmail">
                <button class="footer_form-btn btn btn--yellow col-12 col-sm-auto" type="submit">Subscribe</button>
            </form>
        <ul class="footer_socials d-flex justify-content-center align-items-center">
            <li class="list-item">
                <a class="link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                    <i class="icon-facebook"></i>
                </a>
            </li>
            <li class="list-item">
                <a class="link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                    <i class="icon-twitter"></i>
                </a>
            </li>
            <li class="list-item">
                <a class="link" href="https://dribbble.com/" target="_blank" rel="noopener noreferrer">
                    <i class="icon-dribbble"></i>
                </a>
            </li>
            <li class="list-item">
                <a class="link" href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                    <i class="icon-linkedin"></i>
                </a>
            </li>
        </ul>
        <ul class="footer_nav d-flex flex-wrap flex-column flex-sm-row align-items-sm-center justify-content-sm-center">
            <li class="list-item">
                <a  class="link"href="javascript:void(0)">About</a>
            </li>
            <li class="list-item">
                <a  class="link"href="javascript:void(0)">Menu</a>
            </li>
            <li class="list-item">
                <a  class="link"href="javascript:void(0)">Offers</a>
            </li>
            <li class="list-item">
                <a  class="link"href="javascript:void(0)">Location</a>
            </li>
            <li class="list-item">
                <a  class="link"href="javascript:void(0)">Reservation</a>
            </li>
        </ul>
    </div>
</footer>
<script src="js/index.js"></script>
<script src="js/map.js"></script>