* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #fff;
    font-size: 14px;
    color: #111;
    font-family: "Montserrat", sans-serif;
    visibility: hidden;
    &.visible {
        visibility: visible;
    }
}

html {
    scrollbar-width: none;
    scrollbar-color: #ffcc00 #000000;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: #000000;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ffcc00;
        border-radius: 10px;
        border: 0px none #ffffff;
    }
}

html,
body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button {
    border: none;
    background: none;
    cursor: pointer;
}

input,
button,
a {
    transition: $animated;
    color: inherit;
    font-family: inherit;
}

// TOAST

.subscribe_popup {
    background: rgba(green, 0.5) !important;
    box-shadow: none !important;
    backdrop-filter: blur(5px);
    margin-top: 50px;
    &-title {
        font-size: 24px !important;
    }
    &-title,
    &-content {
        color: #fff !important;
    }
    &-close {
        position: absolute;
        top: 0;
        &:focus {
            outline: none !important;
        }
    }
}
