<section class="booking">
    <div class="container">
        <div class="row gy-2">
            <div class="booking_block col-12 col-sm-6 col-md-4">
                <h4 class="booking_block-title title title--sm">Events</h4>
                <p class="booking_block-text">
                    We put at your disposal our place and staff to celebrate your Birthday, the 10th year
                    anniversary with your colleagues even your Weddings.
                </p>
                <a href="javascript:void(0)" class="booking_block-btn btn btn--black highlight">Find out more</a>
            </div>
            <div class="booking_block col-12 col-sm-6 col-md-4">
                <h4 class="booking_block-title title title--sm">Opening times</h4>
                <dl class="booking_block-opening">
                    <dt class="days">Monday - Saturday</dt>
                    <dd class="hours">12:00 am - 10:30 pm</dd>
                    <dt class="days">Sunday</dt>
                    <dd class="hours">12:00 am - 9:00 pm</dd>
                </dl>
                <p class="booking_block-info">
                    <span>Fruits de mer & cold food available</span>
                    <span>3:00 pm - 5:00 pm</span>
                </p>
            </div>
            <div class="booking_block col-12 col-md-4">
                <h4 class="booking_block-title title title--sm">Find a table</h4>
                <p class="booking_block-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut.
                </p>
                <a class="booking_block-call d-inline-flex align-items-center" href="tel:+080018001800">
                    <i class="icon-call"></i>
                    Call:
                    <span class="number">
                        0800 1800 1800
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>