<section class="events">
    <div class="container">
        <ul class="events_list row gy-5 gx-md-5">
            <li class="events_list-item d-flex flex-column align-items-center justify-content-around col-12 col-md-4">
                <div class="events_list-item_flipper wow flipInX" data-wow-duration="400">
                    <img class="lazy" data-src="./img/icons/birthdays.svg" src="./img/icons/birthdays.svg" alt="birthdays" onerror="this.src='./img/icons/birthdays.png'">
                </div>
                <h4 class="events_list-item_title title title--sm wow fadeInUp">birthdays</h4>
                <p class="events_list-item_text wow fadeInUp" data-wow-delay="400">Book a table for two with the best Italian
                    dishes served for the
                    anniversary. Or reserve a bigger one for a huge family to get together one sunny day.
                    Gather your friends together</p>
            </li>
            <li class="events_list-item d-flex flex-column align-items-center justify-content-around col-12 col-md-4">
                <div class="events_list-item_flipper wow flipInX" data-wow-duration="400">
                    <img class="lazy" data-src="./img/icons/meetings.svg" src="./img/icons/meetings.svg" alt="meetings" onerror="this.src='./img/icons/meetings.png'">
                </div>
                <h4 class="events_list-item_title title title--sm wow fadeInUp">meetings</h4>
                <p class="events_list-item_text wow fadeInUp" data-wow-delay="400">You can also impress your boss by choosing
                    the best place for corporate party
                    with your co-workers. Reserve a spacious room, set the menu, choose the drinks and invite
                    guests.</p>
            </li>
            <li class="events_list-item d-flex flex-column align-items-center justify-content-around col-12 col-md-4">
                <div class="events_list-item_flipper wow flipInX" data-wow-duration="400">
                    <img class="lazy" data-src="./img/icons/weddings.svg" src="./img/icons/weddings.svg" alt="weddings" onerror="this.src='./img/icons/weddings.png'">
                </div>
                <h4 class="events_list-item_title title title--sm wow fadeInUp">weddings</h4>
                <p class="events_list-item_text wow fadeInUp" data-wow-delay="400">75 seats for 75 guests are all at your
                    disposal. Organize a party for a huge
                    company and have fun in the restauran. Show your friends the real world of European cuisine
                    and especially Italian vibes.</p>
            </li>
        </ul>
    </div>
</section>