<section class="menu">
    <div class="container">
        <h4 class="menu_title title title--sm">Menu</h4>
        <div id="menu_slider">
            <div class="menu_slide_wrap">
                <div class="menu_group">
                    <h5 class="menu_type">Meat</h5>
                    <ul class="menu_list">
                        <li class="list-item">
                            <p class="dish-name">Chicken Breast</p>
                            <span class="dots"></span>
                            <p class="dish-price">$19.50</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Fresh Grilled Asparagus</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Pork-Stuffed Skins</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.50</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Grilled Chicken</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.49</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Steak Frites</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                    </ul>
                </div>
                <div class="menu_group">
                    <h5 class="menu_type">Sides</h5>
                    <ul class="menu_list">
                        <li class="list-item">
                            <p class="dish-name">Chicken Breast</p>
                            <span class="dots"></span>
                            <p class="dish-price">$19.50</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Fresh Grilled Asparagus</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Pork-Stuffed Skins</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.50</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Grilled Chicken</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.49</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Steak Frites</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Steak Frites</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                    </ul>
                </div>
                <div class="menu_group">
                    <h5 class="menu_type">Pasta</h5>
                    <ul class="menu_list">
                        <li class="list-item">
                            <p class="dish-name">Chicken Breast</p>
                            <span class="dots"></span>
                            <p class="dish-price">$19.50</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Fresh Grilled Asparagus</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Pork-Stuffed Skins</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.50</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Grilled Chicken</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.49</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Steak Frites</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu_slide_wrap">
                <div class="menu_group">
                    <h5 class="menu_type">Meat</h5>
                    <ul class="menu_list">
                        <li class="list-item">
                            <p class="dish-name">Chicken Breast</p>
                            <span class="dots"></span>
                            <p class="dish-price">$19.50</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Fresh Grilled Asparagus</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Pork-Stuffed Skins</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.50</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Grilled Chicken</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.49</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Steak Frites</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                    </ul>
                </div>
                <div class="menu_group">
                    <h5 class="menu_type">Sides</h5>
                    <ul class="menu_list">
                        <li class="list-item">
                            <p class="dish-name">Chicken Breast</p>
                            <span class="dots"></span>
                            <p class="dish-price">$19.50</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Fresh Grilled Asparagus</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Pork-Stuffed Skins</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.50</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Grilled Chicken</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.49</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Steak Frites</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Steak Frites</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                    </ul>
                </div>
                <div class="menu_group">
                    <h5 class="menu_type">Pasta</h5>
                    <ul class="menu_list">
                        <li class="list-item">
                            <p class="dish-name">Chicken Breast</p>
                            <span class="dots"></span>
                            <p class="dish-price">$19.50</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Fresh Grilled Asparagus</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Pork-Stuffed Skins</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.50</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Grilled Chicken</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.49</p>
                        </li>
                        <li class="list-item">
                            <p class="dish-name">Steak Frites</p>
                            <span class="dots"></span>
                            <p class="dish-price">$25.00</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="slider-nav flex">
            <a id="menu-prev" href="javascript:void(0)"><i class="icon-angle-left"></i></a>
            <a id="menu-next" href="javascript:void(0)"><i class="icon-angle-right"></i></a>
        </div>
    </div>
</section>